.ventana {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0vh;
  height: 100vh;
  width: 100vw;
  background-color: white;
  padding-top: 58px;
  align-items: center;
  justify-content: center;
  z-index: 1;

  background-image: url("https://res.cloudinary.com/fiba06-dev/image/upload/v1644163255/dwf-m8/png_zietim.png");

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.ventanaInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
