.contenedor {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  height: 88vh;
  background-image: url("https://res.cloudinary.com/fiba06-dev/image/upload/v1644163382/dwf-m8/png3_ge7ap7.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}
.form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 1080px) {
  .contenedor {
    background-image: url("https://res.cloudinary.com/fiba06-dev/image/upload/v1644163599/dwf-m8/png4_qazbnw.png");

    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    height: 88vh;
  }
}
